html, body{
	margin: 0px;
	height: 100%;
	overflow: hidden;

}
body{
	background-color: black;
	display: flex;
	flex-direction: column;
	font-family: 'Work Sans';
	font-size: 77px;
	color: white;
	
}
.header {
	min-height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content{
	flex-direction: column;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.footer{
	min-height: 50px;
}

video {

	position: absolute;

	z-index: -100;
	opacity: 0.4;
	
}

.nyomik{

	display: flex;
	justify-content: space around;
}

.gomb{
	border:solid 2px ;
	color: white;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	flex-direction: column;
	text-decoration: none;
	padding: 20px 50px;
	background-color: rgba(0,0,0,0);
	margin: 0px 0px 20px 20px;
    transition: border 0.25s, background-color 0.25s, color 0.25s;
	
}

.gomb:hover{
	border: 2px solid skyblue;
	background-color: rgba(0,0,0,0.5);
	color: skyblue;

	
	
}